body, html {
  width: 100%;
  height: 100%;
  background-color: #081d22;
  font-family: "Cascadia Code", arial, sans-serif;
}

.container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav {
  color: #bbb;
  display: grid;
  grid-template-columns: 1fr 5px 1fr 5px 1fr;
  grid-template-rows: 40px 27px 27px 27px 27px;
}

#clock {
  font-weight: normal;
  font-size: 40pt;
  color: #37a580;
  text-align: center;
  margin-bottom: 10px;
}
