hr {
  padding: 0;
  height: 140px;
}

.nav__head {
  font-weight: normal;
  font-size: 15pt;
  text-align: left;
  border-bottom: 2px solid #ecebe9;
  padding: 0 10px;
  margin: 0 10px;
}

.nav__item {
  padding: 5px 0 0 15px;
  display: flex;
}

.nav__item-link {
	display: flex;
	align-items: center;
  text-decoration: none;
  color: #ecebe9;
}

.nav__item-link:hover {
  color: gray;
}

.icon {
	font-size: 25px;
	margin: 2px 8px 2px 2px;
}
